/* 
.App {
  background-color: azure;
  border-radius: 15px;
  width: 80vw;
  height: 80vh;
  text-align: center;
}

p {
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: xx-large;
}

button {
  font-size: calc(10px + 2vmin);
  background-color: aquamarine;
  border-radius: 100px;
  height: 100px;
  width: 100px;
}

.btncats {
  background-color: yellow;
  border-radius: 30px;
  width: 150px;
  cursor: pointer;
}

.containercategories {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 50px;
}

.btnquestion{
  width: 80vw;
  height: 60px;
  font-size: 16px;
  color: #ffffff;
  background-color: #252d4a;
  border-radius: 15px;
  display: flex;
  padding: 5px;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
} */

/* body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  * {
    font-family: "Verdana", cursive, sans-serif;
    color: #ffffff;
  }
  
  body {
    background-color: #7cc6fe;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .app {
    background-color: #252d4a;
    width: 450px;
    min-height: 200px;
    height: min-content;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: space-evenly;
  }
  
  .score-section {
    display: flex;
    font-size: 24px;
    align-items: center;
  } */

/* QUESTION/TIMER/LEFT SECTION */
/* .question-section {
    width: 100%;
    position: relative;
  }
  
  .question-count {
    margin-bottom: 20px;
  }
  
  .question-count span {
    font-size: 28px;
  }
  
  .question-text {
    margin-bottom: 12px;
  }
  
  .timer-text {
    background: rgb(230, 153, 12);
    padding: 15px;
    margin-top: 20px;
    margin-right: 20px;
    border: 5px solid rgb(255, 189, 67);
    border-radius: 15px;
    text-align: center;
  } */

/* ANSWERS/RIGHT SECTION */
/* .answer-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  button {
    width: 100%;
    font-size: 16px;
    color: #ffffff;
    background-color: #252d4a;
    border-radius: 15px;
    display: flex;
    padding: 5px;
    justify-content: flex-start;
    align-items: center;
    border: 5px solid #234668;
    cursor: pointer;
  }
  
  .correct {
    background-color: #2f922f;
  }
  
  .incorrect {
    background-color: #ff3333;
  }
  
  button:hover {
    background-color: #555e7d;
  }
  
  button:focus {
    outline: none;
  }
  
  button svg {
    margin-right: 5px;
  } */

.welcome-bloc {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 75vh;
  justify-content: space-evenly;
  background-image: url("src/assets/bg-emmental.jpg");
  border: 5px solid white;
  margin-top: 4vh;
}

.welcome {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome-avatar {
  height: 15vh;
  width: 15vh;
  border-radius: 100%;
}

.welcome-btn {
  display: flex;
  flex-direction: column;
  height: 25vh;
  justify-content: space-evenly;
}
