.welcome-bloc {
  text-align: center;
  display: flex;
  flex-direction: column;
  background-image: url("/src/assets/bg-emmental.jpg");
  border: 5px solid black;
}

.welcome {
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 22px;
}

.welcome-avatar {
  height: 17vh;
  width: 17vh;
  border-radius: 100%;
}

.welcome-btn {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.play2-btn {
  margin-top: 3vh;
  border-radius: 40%;
  width: 250px;
  height: 120px;
  background-color: yellow;
  color: black;
}
.croix {
  font-size: 25px;
  float: right;
  margin-bottom: -35px;
  cursor: pointer;
}
button.croix {
  box-shadow: none;
  position: relative;
}
button.croix:hover {
  box-shadow: none;
}
.homer {
  display: flex;
  justify-content: center;
  z-index: -10;
  position: relative;
  margin-top: -360px;
  transform: scaleX(-1);
  height: 445px;
}

/* .main-homer {
  width: 79%;
  transform: rotateZ(90deg);
  position: absolute;
  margin-top: -209px;
  margin-left: 8%;
} */
/* 
.main {
  width: 55vh;
  transform: rotateZ(90deg);
  position: absolute;
  margin-bottom: 75vh;
  margin-left: -58vh;
} */
/* .homer2 {
  display: flex;
  z-index: -20;
  position: absolute;
  width: 49vw;
  margin-top: -88px;
  transform: scaleX(-1);
  height: 245px;
}
.homer3 {
  display: flex;
z-index: -20;
position: absolute;
margin-left: 176px;
margin-top: -88px;
height: 245px;

} */
.question {
  margin-bottom: 1vh;
}

@media (min-width: 769px) {
  .welcome-bloc {
    width: 700px;
    height: auto;
    margin: auto;
    background-repeat: round;
  }

  .play2-btn {
    margin: 1vh;
  }

  .welcome-btn {
    flex-direction: row;
    justify-content: space-around;
  }
  /* .main-homer {
    display: flex;
    justify-content: center;
    z-index: -11;
    position: absolute;
    margin-top: -47px;
    transform: scaleX(-1);
    height: 468px;
    transform: rotateZ(0deg);
    margin-left: 25%;
    width: 45%;
  } */
}
