.btnCatsAleatoire {
  background-color: purple;
}

.categorie-choice {
  text-align: center;
  background-image: url("src/assets/bg-emmental.jpg");
  border: 5px solid white;
}

.btncats,
.btnCatsAleatoire {
  width: 68%;
  cursor: grab;
  font-size: 21px;
  margin-bottom: 4px;
  border-radius: 17px;
}
.container-categories {
  margin-top: -13px;
}
