.btnCatsAleatoire {
  background-color: purple;
}

.categorie-choice {
  text-align: center;
  background-image: url("src/assets/bg-emmental.jpg");
  border: 5px solid black;
  height: auto;
}

h2 {
  margin-top: 4vh;
}

.container-categories {
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 5vh;
}

.btncats,
.btnCatsAleatoire {
  width: 68%;
  cursor: grab;
  font-size: 21px;
  margin-bottom: 4px;
  border-radius: 17px;
}

@media (min-width: 769px) {
  .categorie-choice {
    width: 700px;
    margin: auto;
    background-repeat: round;
  }
}
