* {
  text-decoration: none;
}

.home-bloc {
  text-align: center;
  border: 5px solid black;
  background-image: url("/src/assets/bg-emmental.jpg");
  height: auto;
}

.main {
  width: 79%;
  transform: rotateZ(90deg);
  position: absolute;
  margin-top: -110px;
  margin-left: 8%;
}

@media (min-width: 769px) {
  .home-bloc {
    width: 700px;
    margin: auto;
    background-repeat: round;
  }

  .main-homer {
    display: flex;
    justify-content: center;
    z-index: -11;
    position: absolute;
    margin-top: -47px;
    transform: scaleX(-1);
    height: 468px;
    transform: rotateZ(0deg);
    margin-left: 25%;
    width: 45%;
  }
}

.title-bloc {
  margin-bottom: 2vh;
}

.div-play-btn {
  text-align: center;
}

.play-btn {
  margin-top: 3vh;
  border-radius: 100%;
  width: 150px;
  height: 70px;
  background-color: yellow;
  color: black;
  /* text-shadow: 1px 1px 2px yellow; */
}

button[type="button"] {
  border: none;
  cursor: pointer;
  box-shadow: 0 4px #34373a;
}

button[type="button"]:hover {
  transform: translateY(2px);
  box-shadow: 0 1px #303436;
}
button[type="button"]:active {
  transform: translateY(3px);
  box-shadow: 0 2px #303436;
}

.pseudo {
  height: 25px;
  width: 225px;
  border-radius: 50px;
  margin-bottom: 2vh;
}

/* .bloc-avatar {
  /* flex-wrap: wrap; */
/* } */

.btn-img-avatar {
  border-radius: 50px;
  margin-bottom: 2.5vh;
  width: 86px;
  background-color: #d39c4f;
}

.img-avatar {
  border-radius: 50px;
  margin-left: -4px;
  margin-bottom: -5px;
}

button {
  font-family: "Lobster", cursive;
  font-size: 40px;
  cursor: grab;
}

h2 {
  font-size: 32px;
  margin-top: 2.5vh;
}

::placeholder {
  text-align: center;
}
