* {
  text-decoration: none;
}

.home-bloc {
  text-align: center;
  border: 5px solid white;
  margin-top: 4vh;
  background-image: url("src/assets/bg-emmental.jpg");
}

.title-bloc {
  margin-bottom: 2vh;
}

.div-play-btn {
  text-align: center;
}

.play-btn {
  margin-top: 3vh;
  border-radius: 100%;
  width: 150px;
  height: 70px;
}

.pseudo {
  height: 25px;
  width: 225px;
  border-radius: 50px;
  margin-bottom: 2vh;
}

.bloc-avatar {
  /* flex-wrap: wrap; */
}

.btn-img-avatar {
  border-radius: 50px;
  margin-bottom: 1.5vh;
}

.img-avatar {
  border-radius: 50px;
}

button {
  font-family: "Lobster", cursive;
  font-size: 40px;
}

h2 {
  font-size: 35px;
  margin-top: 1.5vh;
}

::placeholder {
  text-align: center;
}
